
*{ 
    margin: 0;
}.registration-form{ 
    display: flex;
    width: 300px;
    padding: 4rem 1.5rem;
    justify-content: center;
    text-align: center;
    background-color: #49f9f9;
    margin: auto; 
    flex-direction: column; 
    gap: 10px;
}
h4{ 
    font-size: 2rem;
}
.registration-form label{ 
    font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}
#middleName{ 
    border-bottom: 5px solid rgb(240, 249, 73);
}
.registration-form input, .registration-form select{ 
    padding: 8px;
    border:  2px solid olivedrab;
    border-radius: 40px;
    width: 80%;
    font-size: 12px;
}
.registration-form input[type="submit"]{ 
    background-color: olivedrab;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.registration-form input[type="submit"]:hover{ 
    background-color: rgb(5, 161, 239);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.registration-form input[type="radio"]{ 
    width: auto;
    margin-right: 5px;
    cursor: crosshair;
}
.registration-form fieldset{ 
    border: 2px solid rgb(161, 239, 5);
    border-radius: 10px;
    padding: 20px;
}

.inlineS{
    /* display: block;  */
    border: 2px ridge #49f9f9;
    margin: auto;
}

.inlineS{
    /* display: block;  */
    border: 2px ridge #473447f9;
    margin: auto;
}

.highlight {
  color: rgb(51, 0, 255);
  background-color: yellow;
}

/* table, th, tr, td{ 
    border: #473447f9 solid 4px;
    border-collapse: collapse;
} */
 table{ 
    width: 60%;
    border: 4px solid #473447f9;
    border-collapse: collapse;
    margin: 4px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.906);
 }

 thead{ 
    background-color: #a33;
    color: whitesmoke;
 }
 tbody tr:nth-of-type(odd){ 
    background-color: #05840585;
 }
 tbody tr:nth-of-type(even){ 
    background-color: #b0f94985;
 }
 td, th{ 
    padding: 5px;
    border: 4px solid #def2de;
 }
 tfoot{ 
    background-color: #a33;
    color: whitesmoke;
    font-weight: bold;
 }

 .cont p::before{ 
    content: "Note: ";
    font-weight: bold;
    color: red;
 }
 .cont p::after{ 
    content: " 👉";
    font-weight: bold;
    color: red;
 }
 .cont p::first-line{ 
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
 }
 .cont p::first-letter{ 
    font-size: 2rem;
    font-weight: bold;
    color: green;
    text-decoration: underline;
 }

 .highlights > p:first-child::first-letter{
  color: red;
  font-size: 24px;
}
.highlight{ 
    direction: rtl;
}

article img{ 
    width: 100%;
}
article:has(img) {
  border: 8px solid green;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

li:nth-child(2n of .score) {
  background: yellow;
}
.show a span{ 
    color: red;
}
#para{
    color: #578857;
    font-size: 1.8rem;
    text-shadow: 5px 5px 4px #f95d49;
    text-indent: 200px;
    white-space: wrap;
    direction: rtl;
}
.section{ 
    width: 100%;
    height: 100vh;
    border: 5px solid #49f9f9;
    margin: auto;
    padding: 10px;
    background: url('./Book2Read8.jpeg') repeat center center/cover;
}
.sub-sec{ 
    width: 80%;
    height: 80vh;
    border: 10px groove #473447f9;
    border-radius: 80px;
    margin: auto;
    text-align: center;
    align-content: center;
    background: url('./Future2.jpg') repeat center center/cover;
}
.sub-sec ul li{ 
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ab040a;
    
}
.flexbox{ 
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    border: 4px groove #484744;
    justify-content: space-around;
    align-items: center;
}